.colorbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-radius: 30px; /* Adjust based on your design */
    margin-bottom: 20px; /* Add spacing between elements */
}

.colorbox button:hover {
    transform: scale(1.2);
    margin-top: 10px;
}

.insertbotton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 30px; /* Adjust based on your design */
}

.insertbotton button {
    margin-top: 5%; /* Use percentage for margin */
    border: none;
    border-radius: 30px; /* Adjust based on your design */
    cursor: pointer;
}

.insertbotton select {
    margin-top: 5%;
    padding: 5px;
    border-radius: 5px;
}

.insertreset {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.insertreset button {
    background-color: #f6f1ee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.insertreset img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.insertcolor {
    padding: 5%;
    position: absolute;
    bottom: 15%; /* Adjust based on your design */
    right: 50%;
    transform: translateX(50%);
}

.insertcolor button {
    margin-top: 0px;
    border-radius: 30px; /* Adjust based on your design */
    cursor: pointer;
}

.insertcolorimg {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.Detect {
    background-color: pink;
    display: flex;
    padding: 10px;
    border-radius: 60%; /* Adjust based on your design */
    font-family: 'Work Sans', sans-serif;
    color: black;
    flex-direction: column;
    font-size: medium;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.colorimg {
    padding: 5%;
    position: absolute;
    right: 5%;
    bottom: 15%; /* Adjust based on your design */
}

.showlesscolor {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 10%; /* Adjust based on your design */
}