

.detect{
  position: fixed;
  top: 0;
  margin-top: 280px;
  left: 0;
  z-index: 99999;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color:#F6C270;
  color: black;
  font-size: medium;
  font-family: sans-serif;
}
.detectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6C270;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.detect a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 10px;
  border-radius: 100px;
}

.detect a:hover {
  background-color: peru;
}
.detect{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}